body {
  background: #45C871;
  color: #FFF9A7;
  font-size: 20px; }

.no-padding {
  padding: 0; }

.register {
  margin-top: 240px; }
  .register label {
    margin-bottom: 8px; }
  .register span {
    height: 30px; }
  .register input {
    border-radius: 5px;
    border: none;
    color: #575233;
    height: 30px; }
  .register button {
    background: #5690EB;
    color: #fff;
    width: 150px;
    float: right;
    margin-top: 10px; }
  .register ul {
    padding: 0;
    margin: 0; }
    .register ul li {
      list-style-type: none;
      line-height: 20px;
      color: #8E361E;
      height: 45px; }
