body {
  background: #FFFED5;
  color: #FF2620; }

.outer ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.outer li {
  border: blue;
  display: inline-block;
  width: 70px;
  height: 20px; }

.outer a {
  color: #FFFED5; }

.outer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  transform: translate(0, -100%); }

.outer .watch-test {
  transform: translate(0, -100%);
  -webkit-filter: invert(1);
          filter: invert(1); }

.outer .watch-test-1 {
  transform: translate(0, -100%);
  -webkit-filter: invert(1);
          filter: invert(1); }

.outer .watch-test-2 {
  transform: translate(0, -100%);
  -webkit-filter: invert(1);
          filter: invert(1); }
