body {
  background: #FFFED5;
  color: #FF2620; }

.outer ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.outer li {
  border: blue;
  display: inline-block;
  width: 70px;
  height: 20px; }

.outer a {
  color: #FFFED5; }
