<div class="col-xs-12" ng-controller="eventControl as eventCtrl">
	
	<form ng-submit="eventCtrl.createEvent()" name="eventForm" class="col-xs-12 col-md-6 col-lg-6 make-event">
	<h2>Make Events</h2>
		<label for="event-title" class="col-xs-12">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
				<input type="text" class="col-xs-12" name="event-title" ng-model="eventCtrl.event.name" id="event-title"  placeholder="Event Title" required>
			</div>
			<span class="error col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-show="eventForm.event-title.$error.required">This field is required</span>
		</label>
		<label for="event-type" class="col-xs-12 ">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
				<input list="event-type" name="event-type" id="event-type" ng-model="eventCtrl.event.type" placeholder="Event Type" required>
				<datalist id="event-type">
					<option value="Birthday Event">Birthday Event</option>
					<option value="Sports Event">Sports Event</option>
					<option value="Academic Event">Academic Event</option>
					<option value="Family Event">Family Event</option>
				</datalist>
			</div>
			<span class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-show="eventForm.event-type.$error.required">This field is required</span>
		</label>
		<label for="" class="col-xs-12">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
				<input type="text" name="event-host" ng-model="eventCtrl.event.host" class="col-xs-12" placeholder="Host Name" required>
			</div>
		</label>
		<label for="host" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

			<span class="col-xs-3 col-sm-3 col-md-2 col-lg-2 no-padding">Start</span>
			<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8 no-padding">
				<input type="datetime-local" name="start" class="col-xs-12" name="event-start" ng-model="eventCtrl.event.start" lower-than="{{eventCtrl.event.end}}" required/>
   			 </div>
			<span class="col-xs-12" ng-show="eventForm.start.$error.lowerThan">Start time cannot be later than End time</span>
		</label>
		<label for="" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<span class="col-xs-3 col-sm-3 col-sm-2 col-lg-2 no-padding">End</span>
			<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8 no-padding"> 
				<input type="datetime-local" name="end" class="col-xs-12" name="event-end" ng-model="eventCtrl.event.end" higher-than="{{eventCtrl.event.start}}" required/>
    		</div>
			<span class="col-xs-12" ng-show="eventForm.end.$error.higherThan">End time cannot be earlier than start time</span>
		</label>
		<label for="" class="col-xs-12">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
				<input type="text" class="col-xs-12" ng-model="eventCtrl.event.guests" placeholder="Guests ex)John, Jane, Adam">
			</div>
			
		</label>
		<label for="" class="col-xs-12">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
				<input type="text" name="event-location" class="col-xs-12" ng-model="eventCtrl.event.location" required placeholder="Location">
			</div>
		</label>
		<label for="" class="col-xs-12">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
				<textarea type="text" name="event-message" class="col-xs-12" ng-model="eventCtrl.event.message" required placeholder="Message ex) Be on time!! ">
					
				</textarea>
			</div>
			<span class="col-xs-3"></span>
		</label>
		<div class="col-xs-7 no-padding no-padding">
			<button type="submit" ng-disabled="eventForm.$invalid"  class="btn">Submit</button>
		</div>


	</form>
	<div class="col-xs-12 col-md-6 col-lg-6 show-event no-padding">
	<h2>Event List</h2>
		<div class="col-xs-12 col-md-6 col-lg-6" ng-repeat="event in eventCtrl.events">
			<div class="event-card">
				<h3>{{event.name}}</h3>
				<div><strong>Host</strong> : {{event.host}}</div>
				<div><strong>Start</strong> : {{event.start}}</div>
				<div><strong>End</strong> : {{event.end}}</div>
				<strong>Guests</strong> : 
				<span class="guests" ng-repeat="guest in event.guests">{{guest}}</span>
				
				<div><strong>Location</strong> : {{event.location}}</div>
				<div><strong>Message</strong> : {{event.message}}</div>
			</div>	
		</div>
	</div>
</div>