<div ng-controller="DatepickerPopupDemoCtrl as date">
    <pre>Selected date is: <em>{{date.dt | date:'fullDate' }}</em></pre>

    <h4>Popup</h4>
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{date.format}}" ng-model="date.dt" is-open="date.popup1.opened" datepicker-options="date.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="date.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="date.dt" is-open="date.popup2.opened" datepicker-options="date.dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="date.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Format: <span class="muted-text">(manual alternate <em>{{date.altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in date.formats"><option></option></select>
      </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="date.today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="date.setDate(2009, 7, 24)">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="date.clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="date.toggleMin()" uib-tooltip="After today restriction">Min date</button>